<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto:300,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
</head>

<body>
    <div id="wrapper">
        <div id="messageBoxContainer"></div>

        <div id="chatScreen">
            <img id="initialLoader" src="/images/loading.svg" />
            <div id='userList' class="hidden">
                <div id="userListHeader">Uporabniki <i class="fa fa-user-o"></i></div>
            </div>
            <div id='chatWrapper' class="hidden">
                <div id="inputWrapper">
                    <textarea id="sendInputText" placeholder="vnesi besedilo"></textarea>
                    <div id="sendChatButton">Pošlji <i class="fa fa-paper-plane"></i></div>
                </div>
            </div>
        </div>

        <div id="userProfile">
            <div>Prijavljen kot: <span id="userNameSpan"></span></div>
            <div id="actionButtons">
                <i id="signOutButton" class="fa fa-sign-out"></i>
                <i id="alertToggleButton" class="fa fa-bell-slash"></i>
            </div>
        </div>

        <div id="loginOverlay">
            <div id="loginContainer">
                <div id="loginHeader">
                    Chat App
                </div>
                <div id="loginForm">
                    <input type="text" id="userNameInput" placeholder="Uporabniško ime" />
                    <button id="loginButton">Prijava</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/ion.sound.min.js"></script>
    <script type="text/javascript" src="/javascripts/encryption/jsbn.js"></script>
    <script type="text/javascript" src="/javascripts/encryption/random.js"></script>
    <script type="text/javascript" src="/javascripts/encryption/hash.js"></script>
    <script type="text/javascript" src="/javascripts/encryption/rsa.js"></script>
    <script type="text/javascript" src="/javascripts/encryption/aes.js"></script>
    <script type="text/javascript" src="/javascripts/encryption/api.js"></script>
    <script type="text/javascript" src="/javascripts/encryption.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
</body>

</html>