body {
    padding: 9;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdfd;
}

#loginOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fdfdfd;
    position: absolute;
    z-index: 1;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div#loginHeader {
    text-align: center;
    font-size: 3em;
    font-family: 'Gloria Hallelujah', cursive;
}

#loginButton {
    margin-top: 8px;
    width: 280px;
    border: none;
    padding: 11px;
    cursor: pointer;
    background-color: #57c1e9;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

#userNameInput {
    width: 256px;
    padding: 10px;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
}

#loginContainer {
    width: 280px;
    padding: 0 25px 25px 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.28);
}

#messageBoxContainer {
    position: absolute;
    z-index: 9999;
    top: 20px;
    width: 25%;
    margin-left: 37.5%;
}

.messageBox {
    width: 100%;
    float: left;
    padding: 14px 0;
    color: white;
    background-color: green;
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}

.messageBox.error {
    background-color: red;
}

.closeMessageBoxBtn {
    position: absolute;
    top: 12px;
    right: 9px;
    cursor: pointer;
}

#initialLoader {
    width: 100px;
    height: 100px;
    margin: 20% auto;
    display: block;
}

#chatScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hidden {
    display: none;
}

#userList {
    width: 200px;
    height: 100%;
    float: left;
    box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.28);
}

.userDiv {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
}

.userDiv.active {
    background-color: #c8ebf8;
}

.userDiv.active:hover {
    background-color: #c8ebf8;
}

.userDiv:hover {
    background-color: #f0f0f0;
}

#userListHeader {
    width: 100%;
    text-align: center;
    background-color: #57c1e9;
    color: white;
    padding: 10px 0;
}

#chatWrapper {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    color: white;
}

.chatWindow {
    display: none;
    width: 100%;
    height: calc(100% - 140px);
    overflow-y: scroll;
}

.chatWindow.active {
    display: block;
}

.chatBox {
    padding: 10px;
    color: white;
    clear: both;
    box-shadow: 0 0 5px #888;
    margin: 5px 2%;
}

.chatBox.sent {
    float: right;
    background-color: #5fba7d;
}

.chatBox.received {
    float: left;
    background-color: #57c1e9;
}

#inputWrapper {
    width: calc(100% - 200px);
    height: 140px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid #d0d0d0;
}

#sendInputText {
    width: 80%;
    resize: none;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    height: 85px;
    float: left;
    margin-left: 2%;
    border: none;
    margin-top: 20px;
    outline: 1px solid #bbb;
}

#sendInputText:focus {
    outline: none;
    box-shadow: 0 0 10px #888;
}

#sendChatButton {
    float: left;
    margin-top: 20px;
    background-color: #57c1e9;
    margin-left: 1%;
    cursor: pointer;
    width: 13%;
    margin-right: 2%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all ease-in-out 0.1s;
}

#sendChatButton:hover {
    background-color: #1ca4d7;
}

.messageCircle {
    position: absolute;
    top: 10px;
    right: 7px;
    background-color: red;
    text-align: center;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
}

#userProfile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    text-align: center;
    height: 45px;
    background-color: #eee;
    padding-top: 5px;
    color: #333;
}

#actionButtons i.fa {
    margin: 5px 10px;
    cursor: pointer;
}

#actionButtons i.fa:hover {
    color: #888;
}

span#userNameSpan {
    font-style: italic;
}

span.chatBoxDate {
    display: block;
    margin-top: 8px;
    font-size: 11px;
    font-style: italic;
    color: #f0f0f0;
    text-align: right;
}